.main-header { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  background-color:pink;
  font-weight: 900;
  background-image: url("https://www.transparenttextures.com/patterns/fake-luxury.png");
}

#header-avatar {
  height: 160px;
  justify-self: center;
  margin-top:100px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 1024px) {
  .main-header {
    margin-top:-90px;
    margin-left:70px;
    width:30%;
    height: 80%;
    display:flex;
    justify-content:start;
  }
  #header-avatar {
    margin-top:60px;
    margin-bottom:20px;
  }
  .name {
    padding-bottom:40px ;
  }

}