body > header { 
  display: flex;
  height: 400px;
  width: 100%;
  background-color:pink;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("https://www.transparenttextures.com/patterns/fake-luxury.png");
}

#header-avatar {
  height: 140px;
  justify-self: center;
  margin-top:40px;
  margin-bottom: 5px;
}