.new-tweet {
  display: flex;
  flex-direction: column;
  width: 90%;
  position:sticky;
  top:200;
  padding-bottom: 50px;
}

label {
  float: left;
  border: 1px solid black;
}

button {
  background-color: #4056A1;
  color: #FFFF;
  font-family:'Bungee', cursive;
  float: left;
  font-size: 18px;
}
output {
  float: right;
  font-family:'Bungee', cursive;
  font-size: 18px;
}

.text-area {
  display:block;
  border:none;
  border-bottom: 3px solid #000;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  resize: none;
  outline: none;
  font-weight: 900;
  font-size:18px;

}

#tweet-text {
  margin-top: 10px;
  padding-bottom: 0px;
}

.colorRed {
  color:red;
};

.alert {
  font: 20px 900 red;

}